<section class="signup-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="0.625rem"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
  >
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Email cím"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.hasError('required')"
        >Nem lehet üres.</mat-error
      >
      <mat-error *ngIf="!emailInput.hasError('required')"
        >Email hibás.</mat-error
      >
    </mat-form-field>
    <mat-form-field hintLabel="Legalább 6 karakter legyen.">
      <input
        type="password"
        matInput
        placeholder="Jelszó"
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput="ngModel"
      />
      <mat-hint align="end">{{ pwInput.value.length }} / 6</mat-hint>
      <mat-error>Nincs meg a 6 karakter.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="A születésnapod"
        [matDatepicker]="picker"
        [max]="maxDate"
        ngModel
        name="birthdate"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox ngModel name="agree" color="primary"
      >Egyetértek a feltételekkel</mat-checkbox
    >
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid"
    >
      Küldés
    </button>
  </form>
</section>
